   body { 
        background: url(../images/background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
  
  #hangmanTitle {
    margin-top: 10px;
    margin-left: 40%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    color: #800020;
  }
  
  @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#winwin {
    position: absolute;
    left: 0%;
    visibility: hidden;
    animation: blink 1s;
    animation-iteration-count: infinite;
    z-index: 15;
}
#loselose {
    position: absolute;
    left: -3%;
    visibility: hidden;
    animation: blink 1s;
    animation-iteration-count: infinite;
    z-index: 15;
}

    .wrapper1 {
    height: 750px;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 2px solid #800020;
    background-color: white;
        
    }

  


  .rightGrid {
    float: left;
    margin-left: 45px;
  }

  .leftGrid {
    float:left;
   }

  .gridText {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 23px;
    line-height: 60px;
  }

  
  #bodyFamily {
    position: relative;
    left:25%;
  }
  
  .answerImage {

    visibility: hidden;
  }
  
  #miss_0 {
    position: absolute;
    z-index: 1;
    visibility: visible;
  }

  #miss_1 {
    position: absolute;
    z-index: 1;
    visibility: hidden;
  }
  
  #miss_2 {
    position: absolute;
    z-index: 2;
    visibility: hidden;
  }

  #miss_3 {
    position: absolute;
    z-index: 3;
    visibility: hidden;
  }

  #miss_4 {
    position: absolute;
    z-index: 4;
    visibility: hidden;
  }
  #miss_5 {
    position: absolute;
    z-index: 5;
    visibility: hidden;
  }
  #miss_6 {
    position: absolute;
    z-index: 6;
    visibility: hidden;
  }
  #miss_7 {
    position: absolute;
    z-index: 7;
    visibility: hidden;
  }
  #miss_8 {
    position: absolute;
    z-index: 8;
    visibility: hidden;
  }
  #miss_9 {
    position: absolute;
    z-index: 9;
    visibility: hidden;
  }
  #miss_10 {
    position: absolute;
    z-index: 10;
    visibility: hidden;
  }

  #miss_11 {
    position: absolute;
    z-index: 11;
    visibility: hidden;
  }

